<div *transloco="let trs" class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">{{ trs("Mobilizacao") }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
          <a href="/mobilizacao/contratos" class="ml-1 text-primary-500">{{ trs("contratos") }}</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{ trs("incluir-contrato") }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="max-w-8xl">
      <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="includeForm">
        <mat-horizontal-stepper [linear]="true" #includeFormStepper>
          <mat-step [formGroupName]="'contractData'" [stepControl]="includeForm.get('contractData')" #includeFormStepContractData>
            <ng-template matStepLabel>{{ trs("dados-contrato") }}</ng-template>
            <div class="flex flex-wrap gap-2">
              <mat-form-field class="flex flex-auto">
                <mat-label>{{ trs("numero-contrato") }}</mat-label>
                <input matInput [formControlName]="'code'" />
              </mat-form-field>
              <mat-form-field class="flex flex-auto">
                <mat-label>CNPJ</mat-label>
                <input matInput [formControlName]="'cnpj'" />
              </mat-form-field>
              <mat-form-field class="flex flex-auto">
                <mat-label>{{ trs("data-reuniao-inicial") }}</mat-label>
                <input matInput [matDatepicker]="dateInitialMet" [placeholder]="'99/99/9999'" [formControlName]="'dateInitialMet'" />
                <mat-datepicker-toggle matSuffix [for]="dateInitialMet"></mat-datepicker-toggle>
                <mat-datepicker #dateInitialMet></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="flex flex-wrap gap-2">
              <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>{{ trs("nome-fantasia") }}</mat-label>
                <input matInput [formControlName]="'fantasyName'" />
              </mat-form-field>
            </div>
            <div class="flex flex-wrap gap-2">
              <div class="flex flex-auto gap-2" [formGroupName]="'vigence'">
                <mat-form-field class="flex flex-auto">
                  <mat-label>{{ trs("vigencia-inicio") }}</mat-label>
                  <input matInput [matDatepicker]="dateStartVigence" [placeholder]="'99/99/9999'" [formControlName]="'startAt'" />
                  <mat-datepicker-toggle matSuffix [for]="dateStartVigence"></mat-datepicker-toggle>
                  <mat-datepicker #dateStartVigence></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="flex flex-auto">
                  <mat-label>{{ trs("vigencia-fim") }}</mat-label>
                  <input matInput [matDatepicker]="dateEndingVigence" [placeholder]="'99/99/9999'" [formControlName]="'finishAt'" />
                  <mat-datepicker-toggle matSuffix [for]="dateEndingVigence"></mat-datepicker-toggle>
                  <mat-datepicker #dateEndingVigence></mat-datepicker>
                </mat-form-field>
              </div>
              <mat-form-field class="flex flex-auto">
                <mat-label>{{ trs("escopo") }}</mat-label>
                <input matInput [formControlName]="'scope'" />
              </mat-form-field>
              <mat-form-field class="flex flex-auto">
                <mat-label>{{ trs("grau-risco") }}</mat-label>
                <mat-select [formControlName]="'degreeRiskLevel'" [placeholder]="trs('selecione')" required>
                  <mat-option value="HIGH">{{ trs("grau-risco-alto") }}</mat-option>
                  <mat-option value="MEDIUM">{{ trs("grau-risco-medio") }}</mat-option>
                  <mat-option value="LOW">{{ trs("grau-risco-baixo") }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flex flex-col gap-5">
              <mat-accordion class="rounded-md shadow-md shadow-slate-300">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon class="icon-size-8 pr-2" matPrefix [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                      <h5 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ trs("painel-gestor-contrato") }}
                      </h5>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <section [formGroupName]="'contractManager'">
                    <div class="flex flex-wrap gap-2">
                      <mat-form-field class="flex flex-auto">
                        <mat-label>{{ trs("gestor-contrato-nome") }}</mat-label>
                        <input matInput [formControlName]="'name'" />
                        <mat-error>Campo obrigatório!</mat-error>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                      </mat-form-field>

                      <mat-form-field class="flex flex-auto">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" [formControlName]="'email'" />
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                      </mat-form-field>

                      <mat-form-field class="flex flex-auto">
                        <mat-label>Celular</mat-label>
                        <input matInput type="tel" mask="(00) 0 0000-0000" [formControlName]="'phoneNumber'" />
                        <mat-error>Campo obrigatório!</mat-error>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                      </mat-form-field>
                    </div>
                  </section>
                </mat-expansion-panel>
              </mat-accordion>

              <mat-accordion class="rounded-md shadow-md shadow-slate-300">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon class="icon-size-8 pr-2" matPrefix [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                      <h5 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ trs("painel-matrix-responsabilidade") }}
                      </h5>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <section [formArrayName]="'matrixOfResponsability'">
                    <div class="flex justify-end">
                      <button mat-flat-button color="primary" (click)="addResponsible()">{{ trs("add") }}</button>
                    </div>

                    <div *ngFor="let responsible of matrix().controls; let rowIndex = index">
                      <div [formGroupName]="rowIndex" class="flex items-baseline gap-2">
                        <mat-form-field class="flex flex-auto">
                          <mat-label>{{ trs("nome") }}</mat-label>
                          <input matInput [formControlName]="'name'" required />
                        </mat-form-field>
                        <mat-form-field class="flex flex-auto">
                          <mat-label>{{ trs("função") }}</mat-label>
                          <input matInput [formControlName]="'function'" required />
                        </mat-form-field>
                        <mat-form-field class="flex flex-auto">
                          <mat-label>{{ trs("email") }}</mat-label>
                          <input matInput [formControlName]="'email'" required />
                        </mat-form-field>
                        <button mat-raised-button class="bg-warn text-white" (click)="removeResponsible(rowIndex)">
                          <mat-icon class="icon-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        </button>
                      </div>
                    </div>
                  </section>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <!-- Divider -->
            <div class="my-10 border-t"></div>

            <div class="flex flex-wrap">
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                {{ trs("proximo") }}
              </button>
            </div>
          </mat-step>

          <mat-step [formGroupName]="'contractorData'" [stepControl]="includeForm.get('contractorData')" #includeFormStepperContractorStep>
            <ng-template matStepLabel>{{ trs("empresa-contratante") }}</ng-template>
            <div class="flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pr-3">
                <input matInput [formControlName]="'firstName'" [placeholder]="'First name'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3">
                <input matInput [formControlName]="'lastName'" [placeholder]="'Last name'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field class="flex-auto">
                <input matInput [formControlName]="'userName'" [placeholder]="'Username'" required />
                <span matPrefix>www.example.com/</span>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field class="flex-auto">
                <textarea matInput [formControlName]="'about'" [placeholder]="'About'" [rows]="3"></textarea>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="flex justify-end">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                {{ trs("voltar") }}
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'"  type="button" matStepperNext>
                {{ trs("proximo") }}
              </button>
            </div>
          </mat-step>

          <!-- mat-step [formGroupName]="'step3'" [stepControl]="includeForm.get('step3')">
            <ng-template matStepLabel>{{ trs("dados-recurso") }}</ng-template>
            <div class="flex flex-col gt-sm:flex-row">
              <div class="flex flex-col">
                <span class="font-medium mb-2">By Email</span>
                <div class="flex flex-col" [formGroupName]="'byEmail'">
                  <mat-checkbox class="mb-1" [color]="'primary'" [formControlName]="'companyNews'"> Company News </mat-checkbox>
                  <mat-checkbox class="mb-1" [color]="'primary'" [formControlName]="'featuredProducts'"> Featured Products </mat-checkbox>
                  <mat-checkbox [color]="'primary'" [formControlName]="'messages'"> Messages </mat-checkbox>
                </div>
              </div>
              <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                <span class="font-medium mb-2">Push Notifications</span>
                <mat-radio-group class="flex flex-col" [color]="'primary'" [formControlName]="'pushNotifications'">
                  <mat-radio-button class="mb-2" [value]="'everything'"> Everything </mat-radio-button>
                  <mat-radio-button class="mb-2" [value]="'just-good'"> Just the good stuff </mat-radio-button>
                  <mat-radio-button [value]="'no-push'"> No push notifications </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                {{ trs("voltar") }}
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                {{ trs("proximo") }}
              </button>
            </div>
          </mat-step --> 

          <mat-step>
            <ng-template matStepLabel>{{ trs("finalizar") }}</ng-template>
            <p class="my-6 font-medium">Thank you for completing our form! You can reset the form if you would like to change your information.</p>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                {{ trs("Back") }}
              </button>
              <button matIconPrefix="'heroicons_solid:user-circle'" class="px-8" mat-flat-button [color]="'primary'" type="reset" (click)="horizontalStepper.reset()">
                <mat-icon class="icon-size-4 -rotate-45" matPrefix [svgIcon]="'heroicons_solid:paper-airplane'"></mat-icon>
                {{ " " + trs("enviar") }}
              </button>
              <button matIconPrefix="'heroicons_solid:user-circle'" class="px-8" mat-flat-button [color]="'success'" type="submit" (click)="save()">
                <mat-icon class="icon-size-4 -rotate-45" matPrefix [svgIcon]="'heroicons_solid:paper-airplane'"></mat-icon>
                {{ " " + trs("enviar") }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
