<div *transloco="let trs" class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">{{ trs("Mobilizacao") }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
          <a href="/mobilizacao/contratos" class="ml-1 text-primary-500">{{ trs("contratos") }}</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{ trs("incluir-contrato") }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="max-w-8xl">
      <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="includeForm">
        <mat-horizontal-stepper [linear]="isLinear" #includeFormStepper>
          <mat-step [stepControl]="contractForm">
            <form [formGroup]="contractForm">
              <ng-template matStepLabel>{{ trs("dados-contrato") }}</ng-template>
              <step-contract-data></step-contract-data>
            </form>
          </mat-step>
          <mat-step [stepControl]="contractorForm">
            <form [formGroup]="contractorForm">
              <ng-template matStepLabel>{{ trs("empresa-contratada") }}</ng-template>
              <step-contractor-data></step-contractor-data>
            </form>
          </mat-step>
          <mat-step [stepControl]="resourceForm">
            <form [formGroup]="resourceForm">
              <ng-template matStepLabel>{{ trs("recursos-contrato") }}</ng-template>
              <step-resource-data></step-resource-data>
            </form>
          </mat-step>

        
          <mat-step [formGroupName]="'resourcesData'" [stepControl]="includeForm.get('resourcesData')" #includeFormStepperResorcesStep>
            <ng-template matStepLabel>{{ trs("recursos-contrato") }}</ng-template>
            <div class="flex flex-col gap-5">
              <mat-accordion class="rounded-md shadow-md shadow-slate-300">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon class="icon-size-8 pr-2" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                      <h5 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ trs("painel-dados-mobilizacao") }}
                      </h5>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  
                </mat-expansion-panel>
              </mat-accordion>

              

              <mat-accordion class="rounded-md shadow-md shadow-slate-300">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon class="icon-size-8 pr-2" matPrefix [svgIcon]="'heroicons_solid:document'"></mat-icon>
                      <h5 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ trs("painel-racs-nrs") }}
                      </h5>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <section>
                    <div class="row">
                      <div class="flex flex-col">
                        <label [className]="'label-color'">{{ trs("racs-obrigatorios") }}*:</label>
                        <div class="rac-list">
                          <mat-checkbox>RAC-01</mat-checkbox>
                          <mat-checkbox>RAC-02</mat-checkbox>
                          <mat-checkbox>RAC-03</mat-checkbox>
                          <mat-checkbox>RAC-04</mat-checkbox>
                          <mat-checkbox>RAC-05</mat-checkbox>
                          <mat-checkbox>RAC-06</mat-checkbox>
                          <mat-checkbox>RAC-07</mat-checkbox>
                          <mat-checkbox>RAC-08</mat-checkbox>
                          <mat-checkbox>RAC-09</mat-checkbox>
                          <mat-checkbox>RAC-10</mat-checkbox>
                          <mat-checkbox>RAC-11</mat-checkbox>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <mat-form-field class="flex flex-auto">
                        <mat-label>{{ trs("nrs-obrigatorios") }}*</mat-label>
                        <mat-chip-grid #chipNRList aria-label="Digite a NR">
                          @for (nr of nrsList; track nr) {
                          <mat-chip-row (removed)="removeNR(nr)" [editable]="true" (edited)="editNR(nr, $event)"
                            >{{ nr }}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        }
                        <input placeholder="digite a NR" [matChipInputFor]="chipNRList" [matChipInputSeparatorKeyCodes]="separatorKeysCode" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addNR($event)" />
                        </mat-chip-grid>
                      </mat-form-field>
                    </div>
                  </section>
                </mat-expansion-panel>
              </mat-accordion>
            </div>

            <div class="my-10 border-t"></div>
            <div class="flex justify-end">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                {{ trs("voltar") }}
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                {{ trs("proximo") }}
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>{{ trs("finalizar") }}</ng-template>
            <p class="my-6 font-medium">Thank you for completing our form! You can reset the form if you would like to change your information.</p>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                {{ trs("Back") }}
              </button>
              <button matIconPrefix="'heroicons_solid:user-circle'" class="px-8" mat-flat-button [color]="'primary'" type="reset" (click)="horizontalStepper.reset()">
                <mat-icon class="icon-size-4 -rotate-45" matPrefix [svgIcon]="'heroicons_solid:paper-airplane'"></mat-icon>
                {{ " " + trs("enviar") }}
              </button>
              <button matIconPrefix="'heroicons_solid:user-circle'" class="px-8" mat-flat-button [color]="'success'" type="submit" (click)="save()">
                <mat-icon class="icon-size-4 -rotate-45" matPrefix [svgIcon]="'heroicons_solid:paper-airplane'"></mat-icon>
                {{ " " + trs("enviar") }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
