<div *transloco="let trs" class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">{{ trs("Mobilizacao") }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
          <a href="/mobilizacao/contratos" class="ml-1 text-primary-500">{{ trs("contratos") }}</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{ trs("incluir-contrato") }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="max-w-8xl">
      <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="includeForm">
        <mat-horizontal-stepper [linear]="isLinear" #includeFormStepper>
          <mat-step [stepControl]="contractForm">
            <form [formGroup]="contractForm">
              <ng-template matStepLabel>{{ trs("dados-contrato") }}</ng-template>
              <step-contract-data></step-contract-data>
            </form>
          </mat-step>
          <mat-step [stepControl]="contractorForm">
            <form [formGroup]="contractorForm">
              <ng-template matStepLabel>{{ trs("empresa-contratada") }}</ng-template>
              <step-contractor-data></step-contractor-data>
            </form>
          </mat-step>
          <mat-step [stepControl]="resourceForm">
            <form [formGroup]="resourceForm">
              <ng-template matStepLabel>{{ trs("recursos-contrato") }}</ng-template>
              <step-resource-data></step-resource-data>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>{{ trs("finalizar") }}</ng-template>
            <p class="my-6 font-medium">O esbouço do contrato está pronto para ser enviado para a contratada.</p>
            <p class="my-6 font-medium">Clique no botão enviar.</p>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                {{ trs("Back") }}
              </button>
              <button matIconPrefix="'heroicons_solid:user-circle'" class="px-8" mat-flat-button [color]="'success'" type="submit" (click)="save()">
                <mat-icon class="icon-size-4 -rotate-45" matPrefix [svgIcon]="'heroicons_solid:paper-airplane'"></mat-icon>
                {{ " " + trs("enviar") }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
