<div *transloco="let trs" [formGroup]="contractorDataForm">
    <div class="flex gap-2">
        <mat-form-field class="flex-auto">
          <mat-label>CNPJ</mat-label>
          <input matInput [formControlName]="'cnpj'" />
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>{{ trs("razao-social") }}</mat-label>
          <input matInput [formControlName]="'companyName'" />
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>{{ trs("nome-fantasia") }}</mat-label>
          <input matInput [formControlName]="'fantasyName'" />
        </mat-form-field>
      </div>
      <div class="flex gap-2">
        <mat-form-field class="flex-auto">
          <mat-label>E-mail</mat-label>
          <input matInput [formControlName]="'email'" required />
        </mat-form-field>
        <mat-form-field class="flex-auto">
          <mat-label>{{ trs("telefone") }}</mat-label>
          <input matInput [formControlName]="'phoneNumber'" required />
        </mat-form-field>
      </div>
      <div class="flex flex-col gap-5">
        <mat-accordion class="rounded-md shadow-md shadow-slate-300">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-size-8 pr-2" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <h5 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                  {{ trs("painel-gestor-contratada") }}
                </h5>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <section class="mb-3" [formGroupName]="'contractorManager'">
              <div class="flex flex-wrap gap-2">
                <mat-form-field class="flex-auto">
                  <mat-label>{{ trs("gestor-contratada-nome") }}</mat-label>
                  <input matInput [formControlName]="'name'" />
                  <mat-error>Campo obrigatório!</mat-error>
                  <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email" [formControlName]="'email'" />
                  <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>{{ trs("telefone") }}</mat-label>
                  <input matInput type="tel" mask="(00) 0 0000-0000" [formControlName]="'phoneNumber'" />
                  <mat-error>Campo obrigatório!</mat-error>
                  <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
</div>
